@{
    ViewBag.Title = "Contact";
}

<address>
    Minsk, Bsuir<br />
    <abbr title="Phone">P:</abbr>
    +375-29-547-33-94
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:valentin.pilipchuk.24@gmail.com">valentin.pilipchuk.24@gmail.com</a><br />
</address>