@{
    ViewBag.Title = "Quizzland";
}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <img  class="img-rounded img-responsive" src="http://cultivetoi.fr/wp-content/uploads/2015/02/quizzg.png"/>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Quiz application gives you a handy tool to test your knowledge in a specific scope.
        </p>
    </div>
    <div class="col-md-4">
        <h2>It is also funny</h2>
        <p>
            Challenge yourself with your friends to make better results in all types of quizzes which you are able to choose.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Interesting</h2>
        <p>You can easily find a quiz that suits your interests.</p>
    </div>
</div>