<div class="well aside-menu">
    <div id="admin-panel-header">
        <span class="glyphicon glyphicon-wrench"></span> Admin
    </div>
    <ul class="nav nav-pills nav-stacked">
        <li><a href="@Url.Action("Index", "User")">Users management</a></li>
        <li><a href="@Url.Action("Index", "Role")">Roles management</a></li>
        <li><a href="@Url.Action("Index", "Quiz")">Quizzes management</a></li>
    </ul>
</div>
