
@{
    ViewBag.Title = "Test";
}

@using BusinessLogicLayer.API


<h2>There are @ViewBag.Count tests avaliable</h2>

<table>
    @foreach (var test in ViewBag.Tests)
    {
        <tr>
            <td>@test.Title</td>
        </tr>
    }
</table>

